.bg {
    background-image: url(/images/background.jpg);
    background-size: cover;
    position: relative;
}
.overlayWhite {
    background-color: rgba(255, 255, 255, 0.85);
}
.container {
    padding-top: 28px;
}
.heading h2 {
    font-family: "Roboto", Sans-serif;
    font-weight: 500;
    font-style: italic;
    font-size: 3rem;
}
