.container{
    padding: 100px 0;
    background-color: #EEEEEE;
}
.heading h1{
    font-family: "Roboto",sans-serif;
    text-align: center;
    color: #000000;
    font-size: 55px;
    font-weight: 600;
    margin-bottom: 20px;

}
.card_container p{
    font-family: "Roboto", Sans-serif;
    font-weight: 400;
    line-height: 1.5em;
    font-size: 14px;

}
.card{
    margin-top: 20px;
}
.card_container h3 a{
    font-size: 1.4rem;
    font-weight: 700;
    color: black;
    font-family: "Roboto",sans-serif;
}
.card_readmore{
    display: block;
    color: #00ce1b !important;
    margin-top: 20px;
    font-size: 12px;
}